{% extends "partials/signup_base.html" %}
{% load static %}
{% block title %} Forgot Password{% endblock title %}
{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex flex-column row-gap-2 p-5 col-10 col-md-6 col-lg-4 col-xl-3 bg-white border border-3 border-white rounded-4 shadow-sm" style="background:url({% static 'img/login_wrapper_bg.png' %}); background-position:center;">
            <div class="text-center">
                <img src="{% static 'img/Icon.png' %}" alt="" width=45>
            </div>
            <span class="fs-4 text-center fw-medium">Forgot Password</span>
            <span class="fs-6 text-center text-body-secondary">Please enter your email to reset the password.</span>
            {% if error %}
                <div class="alert alert-danger mb-0" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form action="" class="mt-2" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="fs-6 mb-3 mt-2 w-100 text-body-secondary">
                    We will send you an email with a link to reset your password.
                </div>
                <button type="submit" class="btn w-100 shadow-sm btn-primary py-2 mt-3 justify-content-center d-flex align-items-center column-gap-1">Reset Password<span class="material-symbols-outlined">arrow_forward</span></button>
            </form>
            <div class="d-flex justify-content-center column-gap-1">
                <span class="fs-6">Remeber your password?</span>
                <a href="{% url "accounts:login" %}">Login</a>
            </div>
        </div>
    </div>
{% endblock body %}
