<div class="col text-center  ml-auto w-100 d-flex justify-content-end align-items-center">
    <form method="GET" action="{% url 'administrator:dynamic-list' model_name=model_name %}" id="searchForm" class="d-flex">
        <input type="text" id="searchInput" name="search" class="form-control p-2 rounded-pill border-1"   value="{{ search_query }}" placeholder="Search...">
<!--    <button type="submit">Search</button>-->
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Select the input element
        const searchInput = document.getElementById('searchInput');
        const searchForm = document.getElementById('searchForm');

    // Function to submit the form
        function submitForm() {
            searchForm.submit();
        }

    // Submit form on Enter key press
        searchInput.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent default form submission
                submitForm(); // Submit the form
            }
        });

    // Submit form when input loses focus
        searchInput.addEventListener('blur', function() {
            submitForm(); // Submit the form
        });
    });

</script>
